.footer__column-links {
  list-style-type: none;
  margin: 20px 0 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  padding: 0;

}
